<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header">
                    Chat Room
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <strong>Username 1:</strong> Hello!
                        </li>
                        <li class="mb-2">
                            <strong>Username 2:</strong> Hi there!
                        </li>
                        <li class="mb-2">
                            <strong>Username 1:</strong> How are you doing today?
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type your message...">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>