html {
  min-height: 100%;
}

.message {
  max-width: max-content;
}

.issue-btn {
  width: 135px;
}

.home-button {
  display: inline-block;
  text-decoration: underline;
}

.home-button:hover {
  color: red;
}